<div fg-tabs-pane="Properties">
    <div
            fg-property-field-common="{ fieldname: false, displayname: true, placeholder: false, tooltip: false }"></div>
    <!--

      The field-value directive will re-render itself when certain validation values are modified.
      This is needed because angular does not watch or observe the values of certain attributes and allows
      an invalid initial value to be saved in the form schema.

      Important: the transcluded form field must be name fieldValue!

    -->
    <div fg-property-field-value>
        <input type="text"
               class="form-control"
               name="fieldValue"
               ng-model="field.value"

        />
    </div>

    <div class="fg-property-field-validation">
        <div fg-property-field="columnHeaders"
             fg-property-field-label="Column Headers*">
            <input
                   fg-field-redraw
                   class="form-control"
                   type="text"
                   name="columnHeaders"
                   title="You need set Column Headers"
                   ng-model="field.validation.columnHeaders" />
        </div>


    </div>


    <div class="fg-property-field-validation">
        <div fg-property-field="rowHeaders"
             fg-property-field-label="Row Headers*">
            <input
                    fg-field-redraw
                    class="form-control"
                    type="text"
                    name="rowHeaders"
                    title="You need set Row Headers"
                    ng-model="field.validation.rowHeaders" />
        </div>


    </div>

</div>

