<div fg-tabs-pane="Properties">
  <div
      fg-property-field-common="{ fieldname: false, displayname: false, placeholder: false, tooltip: false }"></div>
  <!--

    The field-value directive will re-render itself when certain validation values are modified.
    This is needed because angular does not watch or observe the values of certain attributes and allows
    an invalid initial value to be saved in the form schema.

    Important: the transcluded form field must be name fieldValue!

  -->
    <div fg-property-field-value>
        <input type="text"
               class="form-control"
               name="fieldValue"
               ng-model="field.value"

               />
    </div>

    <div class="fg-property-field-validation">
        <div fg-property-field="pixel"
             fg-property-field-label="Margin Left (%)">
            <input fg-input-number
                   fg-field-redraw
                   class="form-control"
                   type="text"
                   name="pixel"
                   title="Margin Left (%)"
                   ng-model="field.validation.pixel" min="0" max="99"/>
        </div>


    </div>

    <div class="fg-property-field-validation">
        <div fg-property-field="strong"
             fg-property-field-label="Strong">

            <input type="checkbox"
                   ng-model="field.validation.strong"
                   title="Strong">
        </div>


    </div>

</div>
<!--div fg-tabs-pane="Validation">
  <div fg-property-field-validation="{ required: false, minlength: false, maxlength: false, pattern: false }"></div>
</div-->
