
<div  ng-if="!field.schema.validation.strong"    class="row" style="text-align: left;margin-left: {{0.5 + (field.schema.validation.pixel ? field.schema.validation.pixel:0)}}%">
    <p id="{{ field.$_id }}">{{field.schema.value}}</p>
</div>

<div  ng-if="field.schema.validation.strong"    class="row" style="text-align: left;margin-left: {{0.5 + (field.schema.validation.pixel ? field.schema.validation.pixel:0)}}%">
    <p style="color:black;" id="{{ field.$_id }}"><strong>{{field.schema.value}}</strong></p>
</div>


