.fg-field-required .control-label:after {
    content: ' *';
    color: #888;
}

.fg-legend-extra {
    color: #999;
    font-weight: lighter;
    display: inline-block;
}

.thisone {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}